# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.turbo/*

# Docker
docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.prod.yml
Dockerfile.*
.docker/
docker/
*.tar
*.img
*.container
*.pid

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# VSCode
.vscode/*
!.vscode/settings.json

# Backups
backups/
*.bak

# Logs
logs/
*.log

# Misc
dist/
build/
coverage/
tmp/
temp/
.cache/
*.swp
*.swo

.brain/rules/*
.brain/config.json